<mat-dialog-content class="mat-typography">

    <table class="example-full-width" id="prueba">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre Negocio:</mat-label>
                    <input matInput disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Número de Cuenta:</mat-label>
                    <input matInput>

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Tipo Producto:</mat-label>
                    <input matInput disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Giro:</mat-label>
                    <input matInput disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Numero Terminal:</mat-label>
                    <input matInput disabled="disabled">

                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Fecha Origen:</mat-label>
                    <input matInput placeholder="210211" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Hora Origen:</mat-label>
                    <input matInput placeholder="400.01" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>TC:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Tipo de Operación:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>PEM:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>


        </tr>
        <tr>

            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Emisor:</mat-label>
                    <input matInput placeholder="484" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Red Logica:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>DFT Captura:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Codigo de Respuesta:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Clave PD(Q6):</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Bandera Cash Bak:</mat-label>
                    <input matInput placeholder="484" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Importe Cash Bak:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Medio Comercio:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>CAVV/UCAF-AAV (C0):</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>ID 3DS:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>ECI:</mat-label>
                    <input matInput placeholder="484" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Medio de Acceso:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Cap.Terminal:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Destino:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>CVV2/CV:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Bandera Cash Bak:</mat-label>
                    <input matInput placeholder="484" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Importe Cash Bak:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Medio Comercio:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>CAVV/UCAF-AAV (C0):</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>ID 3DS:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Lote:</mat-label>
                    <input matInput placeholder="484" disabled="disabled">

                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Reg Llave:</mat-label>
                    <input matInput placeholder="003532" disabled="disabled">

                </mat-form-field>
            </td>



        </tr>
    </table>

</mat-dialog-content>




<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>CERRAR</button>
    <!--   <button mat-raised-button color="primary"  mat-dialog-close  cdkFocusInitial>APLICAR CARGO/ABONO</button> -->
    <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Modificar</button>

</mat-dialog-actions>